* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
}

.card-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 850px;
    grid-template-rows: repeat(26, 30px);
    grid-template-columns: repeat(26, 30px);
}

#card-background {
    background-color: #282731;
    border-radius: 40px;
    width: 590px;
    grid-area: 4 / 4 / 20 / 24;
}

#card-image-big {
    border-radius: 30px;
    grid-area: 3 / 3 / 23 / 16;
}

#card-image-medium {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}