* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

.card-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 850px;
    grid-template-rows: repeat(26, 30px);
    grid-template-columns: repeat(26, 30px);
}

#card-background {
    background-color: #282731;
    border-radius: 40px;
    width: 590px;
    grid-area: 4 / 4 / 20 / 24;
    display: grid;
    justify-content: end;
    align-content: end;
    grid-template-rows: repeat(8, 15px);
    grid-template-columns: repeat(41, 15px);
}

#card-image-big {
    border-radius: 30px;
    grid-area: 3 / 3 / 23 / 16;
}

#card-image-medium {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    grid-area: 3 / 2 / 7 / 6;
}

#card-image-small {
    width: 40px;
    height: 40px;
    grid-area: 4 / 36 / 7 / 39;
}

#card-title {
    color: white;
    grid-area: 3 / 7 / 5 / 31;
    font-size: 28px;
    font-family: Arial, sans-serif;
}

#card-subtitle {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    grid-area: 5 / 7 / 6 / 15;
    padding-top: 2px;
}