* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

#card-background {
    background-color: #282731;
    width: 600px;
    height: 600px;
    border-radius: 40px;
}

#card-image {
    border-radius: 40px;
}